/* Padrão */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    z-index: 10;
    border-radius: 0.5cap;
}
.msgError{
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #e6c3c3;
    border-radius: 1cap;
    text-align: center;
    padding: 1%;
    width: 18vw;
}

/* Login */
.login-card {
    width: 100%;
    background: #F8F7C3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0vh 0.4vw 0.6vw rgba(0, 0, 0, 0.5);
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Register */
.register-card {
    width: 140%;
    background: #F8F7C3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0vh 0.4vw 0.6vw rgba(0, 0, 0, 0.5);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#register {
    margin-right: 13vh;
}